<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315781797492-4d3nm5cotre53igv0v626t7o5d3c62i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315781797492-4d3nm5cotre53igv0v626t7o5d3c62i1</string>
	<key>API_KEY</key>
	<string>AIzaSyBBosewSUJAN1EGQnEpcjzOLpPL7GwnFNY</string>
	<key>GCM_SENDER_ID</key>
	<string>315781797492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deleveus.org.deleveus-app</string>
	<key>PROJECT_ID</key>
	<string>deliveus-app</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveus-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315781797492:ios:cb956e9949500b3ce4a321</string>
</dict>
</plist>